body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: verdana !important;
	font-size: 15px;
	color: #333;
	background: #000000;
}

a:link,a:visited {
	color: #d05c2d;
	text-decoration: underline;
	font-weight: normal;
}

a:active,a:hover {
	color: #990000;
	text-decoration: none;
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
}

.margin_bottom_10 {
	clear: both;
	width: 100%;
	height: 5px;
	font-size: 5px;
}

.margin_bottom_20 {
	clear: both;
	width: 100%;
	height: 20px;
	font-size: 1px;
}

.margin_bottom_30 {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;
}

.margin_bottom_40 {
	clear: both;
	width: 100%;
	height: 40px;
	font-size: 1px;
}

.margin_bottom_50 {
	clear: both;
	width: 100%;
	height: 50px;
	font-size: 1px;
}

.margin_bottom_60 {
	clear: both;
	width: 100%;
	height: 60px;
	font-size: 1px;
}

.margin_right_10 {
	margin-right: 10px;
}

.margin_right_60 {
	margin-right: 60px;
}

.border_bottom {
	border-bottom: 1px solid #999;
}

.text_rl {
	text-align: right;
}

.fl {
	float: left;
}

.fr {
	float: right
}

.rc_btn_01 a {
	clear: both;
	float: right;
	display: block;
	width: 152px;
	height: 37px;
	padding: 18px 0 0 0;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_button_01.png) no-repeat;
}

.rc_btn_02 a {
	clear: both;
	float: right;
	display: block;
	width: 140px;
	height: 35px;
	padding: 17px 0 0 0;
	font-size: 13px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_button_02.jpg) no-repeat;
}

#tbox {
	left: 855px;
	top: 518px;
	width: 120px;
	height: 85px;
	opacity: 0.6;
	position: absolute;
	font-size: 20px;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
}

#wel {
background: #000000;
text-decoration: none;
opacity: 0.7;
border-radius: 11px;
filter: alpha(opacity = 40);
line-height: 9px;
width: 241px;
z-index: 100;
}

.welc {
font-size: 16px;
margin-left: 16px;
color: #ff0000;
margin-top: 10;
font-weight: bold;
}

.header_01 {
	padding: 0 0 10px 0;
	margin: 0 0 2px 0;
	font-size: 20px;
	font-family: arial;
	color: #ffffff;
}

.header_02 {
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	font-size: 30px;
	color: #ffffff;
}

.header_03 {
	padding: 0 0 5px 0;
	font-size: 13px;
	font-weight: bold;
	color: #fd4800;
}

#templatemo_header_wrapper {
	 background: url("https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_header_bg.jpg") repeat-x scroll 0 0 / cover rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 100%;
}

#lnks {
	position: absolute;
	left: 800px;
	top: 75px;
}

#templatemo_header {
	width: 1000px;
	padding: 0 0px 0px 0px;
	margin: 0 auto;
}

#templatemo_header #logo {
	background: url("https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/logo.png") no-repeat scroll 0 top/ contain
		rgba(0, 0, 0, 0);
	height: 87px; 
	width: 220px; 
	float:left;
}

/* menu */
#templatemo_header #templatemo_menu {
	display: inline-block;
	width: 774px;
	 float: right;
	 margin-top: 20px;
}

#templatemo_menu ul {
	float: right;
	margin: 0px -7px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

/* end of menu */ /* banner */
#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #000000;
}

#templatemo_banner {
	width: 980px;
	height: 335px;
	margin: 0 auto;
	background: #000000 url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_banner_bg.jpg) no-repeat;
}

#templatemo_banner #banner_content {
	float: right;
	width: 435px;
	padding: 40px 0 0 0;
	margin-right: 80px;
}

#banner_content #banner_title {
	font-size: 24px;
	padding: 10px 0 35px 0;
}

#banner_content #banner_text {
	text-align: justify;
	font-size: 11px;
}

/* end of banner */ /* content top */
#templatemo_content_top_wrapper {
	clear: both;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_content_top_bg.jpg) repeat-x;
}

#templatemo_content_top {
	width: 840px;
	margin: 0 auto;
	padding: 40px 20px 0 20px;
}

#templatemo_content_top p {
	color: #000000;
}

/* end of content top */ /* content */
#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #000000;
}

#templatemo_content {
	width: 940px;
	margin: 0 auto;
	padding: -10px 20px 0 20px;
}

.content_col_w420 {
	width: 868px;
}

.service_box {
	width: 135px;
	height: 140px;
}

.testimonial_box_wrapper {
	margin-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.testimonial_box {
	padding: 10px 20px;
	background: #e0e0e0;
	margin-bottom: 2px;
}

.testimonial_box a {
	font-size: 13px;
	font-weight: bold;
	color: #fd4800;
	text-decoration: none;
}

.image_wrapper_01 {
	position: relative;
	width: 441px;
	height: 170px;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_frame_01.png) no-repeat;
}

.image_wrapper_01 img {
	position: absolute;
	width: 412px;
	height: 117px;
	top: 10px;
	left: 10px;
}

.section_w140 {
	width: 140px;
}

.section_w140 .project_icon {
	width: 135px;
	height: 140px;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_project_icon.jpg) no-repeat;
}

.section_w220 {
	width: 220px;
}

.section_w280 {
	width: 280px;
}

.section_w280 .future_project {
	margin: 0;
	padding: 0;
	list-style: none;
}

.future_project li {
	margin: 0 0 5px 0;
	padding: 0px;
}

.other_project_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.other_project_list li {
	margin: 0 0 0 0;
	padding: 5px 0 3px 25px;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/templatemo_list_icon.jpg) left center no-repeat;
}

.other_project_list li a {
	color: #333;
	text-decoration: none;
}

.other_project_list li a:hover {
	color: #990000;
}

/* end of content */ /* footer */
#templatemo_footer_wrapper {
	clear: both;
	width: 1008px;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	background: url(https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/footer12.png) no-repeat;
	/* background: #ffffff;
border-top: 12px solid #D60000; */
}

.templatemo_footer {
	width: 1008px;
	margin: 0 auto;
	font-size: 18px;
	padding: 0px;
}

#templatemo_footer_wrapper a {
	color: #ff0000;
}

.normal_list {
	margin: 0 0 0 10px;
	padding: 0px;
	list-style: disc;
}

.normal_list li {
	padding: 3px 0;
	margin: 0;
}

#templatemo_footer .normal_list li a {
	color: #ffffff;
	text-decoration: none;
}

.contact {
	text-align: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.contact li {
	padding: 3px 0;
}

/* end of footer */
.menuH {
	/* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
    For detailed instruction please visit www.menucool.com/horizontal/change-menu-alignment  */
	width: 100%;
	float: left;
	/*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
	/*Note: Unlike image file, htc file path is relative to the page, not this CSS file.*/
	behavior: url("/horizontal/menuh/cssmenu.htc");
	height: 40px;
/*	background: #D60000 url(bg.gif) repeat-x 0 0;*/
 background:rgb(82, 83, 87);
	border: 5px solid #0000;
	position: relative; /*! for IE htc*/
	z-index: 50; /*H2*/
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
}

.menuH li {
	background: #587285;
box-shadow: inset 0 3px #2f4351;
	display: inline-block;
	padding: 4px 37.8px;
	border: solid 1px; 
	width:109px !important;
	text-align: center;
	margin: -1px -9px 0px 0px;
}

.menuH li:hover,.menuH li.onhover {
	background: #FFEAEA url(bg.gif) repeat-x 0 -45px;
	padding: 4px 37.8px;
}

ul.menuH a {
	/* padding: 0 20px; */
	line-height: 32px;
	/*Note: keep this value the same as the height of .menuH and .menuH li */
	font-size: 14px;
	
	color: white;
	display: block;
	outline: 0;
	text-decoration: none;
	  
	cursor: pointer;
}
.menuH li.secondsub:hover ul{
	left : 183px !important;
	width: 223x !important;
}


.sublink li:hover {
	width: 137px;
	padding:5px 13px 5px 31px;
	}
.menuH a:hover {
	color: #FF0000 !important;
}

.menuH a.arrow {
	background: url(arrow.gif) no-repeat right center;
}

.menuH ul a.arrow {
	background: url(right.gif) no-repeat 100% center;
}

/*Used to align a top-level item to the right*/
.menuH .menuRight {
	float: right;
	margin-right: 0px;
}

/*for the top-level separators*/
.menuH li.separator {
	font-size: 0;
	overflow: hidden;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #BBBBBB;
}

/*######sub level###########*/
ul.menuH ul {
	width: 259px;
position: absolute;
left: -9999px;
background: none;
text-align: left;
list-style: none;
margin: 0;
}

.menuH li li {
	float: none;
	white-space: nowrap;
	height: 26px;
	width:179px !important;
}

.menuH li li:hover,.menuH li li.onhover {
	background: #FFC6A5;
}

.menuH ul a {
	padding: 0 20px;
	line-height: 26px;
	font-size: 0.9em;
	font-weight: normal;
	color: #000;
	text-align: left;
	width: 100%;
}

.menuH ul a:hover {
	color: red;
}

.menuH li:hover ul,.menuH li.onhover ul {
	left: 0px; /*Use this property to change offset of the dropdown*/
	top: 42px;
}

.menuH li:hover .dropToLeft,.menuH li.onhover .dropToLeft {
	left: auto;
	right: -1px;
	top: auto;
}

.menuH li:hover a, .menuH li.onhover a
{
	color: #ff0000;
}
.menuH ul li a {
	color: #000 !important;
}

.menuH ul ul {
	border-top: 1px solid #DDD;
}

.menuH li:hover ul ul,.menuH li:hover ul ul ul,.menuH li:hover ul ul ul ul,.menuH li.onhover ul ul,.menuH li.onhover ul ul ul,.menuH li.onhover ul ul ul ul
	{
	left: -9999px;
	top: 0;
}

.menuH li li:hover ul,.menuH li li li:hover ul,.menuH li li li li:hover ul,.menuH li li.onhover ul,.menuH li li li.onhover ul,.menuH li li li li.onhover ul
	{
	left: 200px;
}

/*####### special effects ##########*/
.decor1 {
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and Chrome */
	border-radius: 4px;
	/* Opera 10.5+, future browsers, and now also our behavior htc file */
	-moz-box-shadow: 0px 1px 5px #eee; /* Firefox */
	-webkit-box-shadow: 0px 1px 5px #eee; /* Safari and Chrome */
	box-shadow: 0px 1px 5px #eee;
	/* Opera 10.5+, future browsers and IE6+ using our behavior htc file */
}

.menuH ul {
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0px 6px 6px #CCC;
	-webkit-box-shadow: 0px 6px 6px #CCC;
	box-shadow: 0px 6px 6px #CCC;
	/*for older IE browsers, the htc file fix will disable this feature when box-shadow was also applied.*/
	filter: alpha(opacity = 90);
	opacity: 0.90;
	/* Gradient background */
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
		to(#EEEEEE) );
}

/*box shadow*/
#image {
	background-image: url('https://rawgithub.com/siddappa/arka2/master/WebContent/arkaapp/images/background.jpg');
	width: 250px;
	height: 450px;
	margin: 0 auto;
	border: 1px #666666 solid;
	position: absolute;
	left: 870px;
	top: 150px;
	z-index: 10;
}

.trans {
	opacity: .20;;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.50;
	width: 240px;
	height: 300px;
	background: #000000;
	float: none;
	margin-top: -70px;
	position: relative;
	z-index: 50;
}

.text {
	float: none;
	display: block;
	position: relative;
	z-index: 90;
	color: #ffffff;
	width: 230px;
	height: 50px;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}